*{
    box-sizing: border-box;
    margin: 0;
}

header>h1{
    color:#E53170;
    font-size:2em;
    margin: 20px;
}

#container{
    width: 1300px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
}

header{
    height: 20%;
    width: 70%;
    text-align: center;
    padding:10px;
    margin: auto;

}

main{
    width: 70%;
    height: 70%;
    margin: auto;

}

.colonne{
    width: calc(100% / 3);
    float: left;
    height: 90%;
}


.profili{
    height: 90px;
    width: 270px;
    background-color:black;
    margin:auto;
    margin-top:50px;
    color: white;
}

div>img{
    width:80px;
    height:80px;
    float: left;
}

.nomi{
 font-size: 1em;
}

.dati{
    height: 80px;
    text-decoration: none;
}

.mail{
    text-decoration: none;
    color: aqua;
}

.info{
    height: calc(100% / 3);
    font-size: 15px;
}

